.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #a08ece;
    outline: 0;
    box-shadow: 0 0 0 .25rem #a08ece;
}

label{
    color: #6046a1;
}

.button{
	background-color: #6046a1;
	color: white;
}
.button:hover,.button:focus{
	border: 1px solid black;
}