@font-face {
    font-family: 'Poppins-Bold'; 
    src: url('Poppins-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('Poppins-ExtraBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Poppins-Medium'; /* Choose a name for your font */
    src: url('Poppins-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Poppins-Regular'; /* Choose a name for your font */
    src: url('Poppins-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Poppins-SemiBold'; /* Choose a name for your font */
    src: url('Poppins-SemiBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Poppins-Thin'; /* Choose a name for your font */
    src: url('Poppins-Thin.ttf') format('truetype');
  }





  @font-face {
    font-family: 'Inter-Bold'; /* Choose a name for your font */
    src: url('Inter-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Inter-Light'; /* Choose a name for your font */
    src: url('Inter-Light.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Inter-Medium'; /* Choose a name for your font */
    src: url('Inter-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Inter-Regular'; /* Choose a name for your font */
    src: url('Inter-Regular.ttf') format('truetype');
  }


h1,p{
	color: #6046a1;
	font-family: 'Inter-Bold'; 
}
p,label,input,button{
	font-family: 'Inter-Medium';
}

.button{
	background-color: #6046a1;
	color: white;
}
.button:hover,.button:focus{
	border: 1px solid black;
}
a,label{
	color: #6046a1;
}
a:hover{
	text-decoration: none;
	color: black;
}
body{
    background-color: #dcd9e0;
}

.poll-card{
    background-color: #d1c9e4;
    color: rgb(0, 0, 0);
}
.border {
    border: var(--bs-border-width) var(--bs-border-style) #6046a1!important;
}

.li-list-items{
    background-color: #d1c9e4;
    color: #6046a1;
    border: none;
}

.link-text{
  margin: 0 5rem;
    /* Add word-wrap or white-space property for text wrapping */
    word-wrap: break-word; /* This property allows long words to be broken and wrap onto the next line */
    white-space: normal; 
}

.underlined-text {
    border-bottom: 6px solid; /* Adjust the border style and color as needed */
    border-radius: 10%;
    padding-bottom: 5px; /* Adjust the value as needed */
    display: inline; /
  }

  @media (max-width: 600px) {
    .underlined-text{
      border: none;
      text-decoration: underline;
    }
    
  }