<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="login.css">
</head>
<body>

    <div class="whole-card m-4 m-md-5  border rounded-4">
        <div class="conatainer mx-3 mx-md-4 mx-lg-5 my-5">
            <div class="row  align-items-center justify-content-center whole-card rounded-4">
                <div class="col-12 col-md-4 col-lg-5">
                </div>
                <div class="col-12 col-md-8 col-lg-7  ps-lg-5  padding-start" >
                    <div class="">
                        <div class="shadow-lg rounded-4  p-4 p-md-5 p-lg-5 login-card mx-0 my-4 m-md-3 m-lg-4">
                            
                        <h1 class="fw-bold">Hello</h1>
                        <h1 class="mb-3 fw-bold">Welcome</h1>
                        <p class="fs-5">Enter your credintials</p>
                        <% if (error) { %>
                            <p style="color: red;">Incorrect password. Please try again.</p>
                        <% } %>
                        <form action="/login" method="POST">

                            <div class="input-container mt-5 mb-5">
                                <input type="email" required=""  name="email">
                                <label>Email Id</label>		
                            </div>

                            <div class="input-container mt-4 mb-5">
                                <input type="password" required=""  name="password">
                                <label>Password</label>		
                            </div>
                            <button type="submit" class="btn login-btn px-4 mb-4 fw-bold">Login</button>
                        </form>

                        <span><p>Don't have an account yet ?<span class="ms-md-4"><a href="/register" class="fw-bold">Create account</a></span></p>                    </span>

                    </div>
                    
                </div>
                </div>
                
            </div>
        </div>
    </div>
    

    <script src="jquery-3.7.1.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
</body>
</html>