<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.min.css">
</head>
<body>
    <div>
        <div class="conatainer">
            <div class="row justify-content-center">
                <div class="col-5">
                    <form action="/login" method="POST">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                            <label for="floatingInput">Email address</label>
                          </div>
                          <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                            <label for="floatingPassword">Password</label>
                          </div>
                          <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                    <a href="/register">Dont have an account</a>
                </div>
                <div class="col-5">

                </div>
            </div>
        </div>
    </div>

    
</body>
</html>